@model THOT.Models.Subject

@{
    ViewBag.Title = "Eliminar Materia";
}

<h2>Eliminar</h2>

<div>
    <h4>Materia</h4>
    <h5>¿Estás seguro de eliminar esto?</h5>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Area.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area.Name)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dd>
            @using (Html.BeginForm()){
                @Html.AntiForgeryToken()
            <input type="submit" value="Eliminar" class="btn btn-default" />
            }
        </dd>

    </dl>

       <div class="form-actions no-color">
            <a href="@Url.Action("Index")">
                <i class="glyphicon glyphicon-circle-arrow-left"></i>
                <span class="sr-only">Back</span>
            </a>  
        </div>
 
</div>
