@model THOT.Models.Test

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Test</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TopicId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopicId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>   

       

    </dl>
  
        @foreach(var q in Model.Questions)
        {
            <div class="row">               
                 <div class="col-md-12">@q.Description</div>                   
            </div>

            foreach (var a in q.Answers)
            {
                
                <div class="row">
                    <div class="radio">
                        <label><input type="radio" name="@q.QuestionId">@a.Description</label>
                    </div>                    
                </div>
            }
        }
    

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TestId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
