@model THOT.Models.Test

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Test</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TopicId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopicId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.TestId)

        foreach (var q in Model.Questions)
        {
            <div class="row">
                <div class="col-md-12">@Html.Raw(@q.Description)</div>
            </div>

            foreach (var a in q.Answers)
            {
                <div class="row">
                    <div class="radio">
                        <label><input type="radio" name="test.Questions['0']">@Html.Raw(HttpUtility.HtmlDecode(a.Description))</label>
                    </div>
                </div>
            }
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    }
</div>