<!DOCTYPE html>
@if (User.IsInRole("Administrator"))////////ADMINISTRADOR
{

    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Thot</title>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
        </script>
        <script type="text/javascript" async
                src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
        </script>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <img id="img_logo" alt="Logo" src="@Url.Content("../../Images/thotn.png")" width="50" height="50" align="left" />
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Thot", "About", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>  
                        <li>@Html.ActionLink("Gestionar Usuarios", "Index", "UserManager")</li>                    
                        <li>@Html.ActionLink("Ramas del Conocimiento", "Index", "Areas")</li>                        
                        <li>@Html.ActionLink("Gestionar Materias", "Index", "Subjects")</li>
                        <li>@Html.ActionLink("Gestionar Tests", "Index", "Tests")</li>
                    </ul>

                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Thot</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", false)
    </body>
</html>

}
else
{
    if (User.IsInRole("Student"))///////ALUMNO
    {

        <html>
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>@ViewBag.Title - Thot</title>
            <script type="text/x-mathjax-config">
                MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
            </script>
            <script type="text/javascript" async
                    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
            </script>
            @Styles.Render("~/Content/css")
            @Scripts.Render("~/bundles/modernizr")

        </head>
        <body>
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <img id="img_logo" alt="Logo" src="@Url.Content("../../Images/thotn.png")" width="50" height="50" align="left" />
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Thot", "About", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                            <li>@Html.ActionLink("Unidades de Aprendizaje", "Index", "Subjects")</li>
                        </ul>

                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
          
               
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
                    <div class="footer" id="footer">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                                    <h3><img alt="Logo" src="@Url.Content("../../Images/thotn.png")" width="30" height="30" align="left" hspace="5" /> THOT </h3>
                                    <ul>
                                        <li> @Html.ActionLink("Inicio", "Index", "Home") </li>
                                        <li> @Html.ActionLink("Acerca de", "About", "Home") </li>

                                    </ul>
                                </div>
                                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">

                                </div>
                                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                                    <h3><img alt="Logo" src="@Url.Content("../../Images/logoescom.png")" width="30" height="20" align="left" hspace="10" /> ESCOM </h3>
                                    <ul>
                                        <li> <a href="http://www.isc.escom.ipn.mx/ofertaEducativa/isc.php"> Oferta Educativa </a> </li>
                                        <li> <a href="http://www.isc.escom.ipn.mx/ofertaEducativa/mapaCurricular.html"> Mapa Curricular </a> </li>
                                    </ul>
                                </div>
                                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">

                                </div>
                                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12">
                                    <h3> Siguenos en </h3>
                                    <ul class="social">
                                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                                    </ul><br />

                                    <h3> Contacto </h3>
                                    <ul>
                                        <li>thot.education@gmail.com</li>
                                    </ul>

                                </div>

                            </div>
                            <!--/.row-->
                        </div>
                        <p align="center">&copy; @DateTime.Now.Year - Derechos Reservados Thot</p>
                    </div>

                </footer>

            </div>
               
            

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", false)
        </body>
    </html>

    }
    else
    {

        <html>
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>@ViewBag.Title - Thot</title>
            <script type="text/x-mathjax-config">
                MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
            </script>
            <script type="text/javascript" async
                    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
            </script>
            @Styles.Render("~/Content/css")
            @Scripts.Render("~/bundles/modernizr")

        </head>
        <body>
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <img id="img_logo" alt="Logo" src="@Url.Content("../../Images/thotn.png")" width="50" height="50" align="left" />
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Thot", "About", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                            @*<li>@Html.ActionLink("Cursos", "Index", "Subjects")</li>*@
                        </ul>

                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
            
                
                <div class="container body-content">
                    @RenderBody()
                    <hr />
                    <footer>
                        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
                        <div class="footer" id="footer">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                                        <h3><img alt="Logo" src="@Url.Content("../../Images/thotn.png")" width="30" height="30" align="left" hspace="5"/> THOT </h3>
                                        <ul>
                                            <li> @Html.ActionLink("Inicio", "Index", "Home") </li>
                                            <li> @Html.ActionLink("Acerca de", "About", "Home") </li>
                                            
                                        </ul>
                                    </div>
                                    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                                        
                                    </div>
                                    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                                        <h3><img alt="Logo" src="@Url.Content("../../Images/logoescom.png")" width="30" height="20" align="left" hspace="10"/> ESCOM </h3>
                                        <ul>
                                            <li> <a href="http://www.isc.escom.ipn.mx/ofertaEducativa/isc.php"> Oferta Educativa </a> </li>
                                            <li> <a href="http://www.isc.escom.ipn.mx/ofertaEducativa/mapaCurricular.html"> Mapa Curricular </a> </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                                        
                                    </div>
                                    <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12">
                                        <h3> Siguenos en </h3>
                                        <ul class="social">
                                            <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                                            <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                                            <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>                                          
                                            <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                                        </ul><br />
                                        
                                        <h3> Contacto </h3>
                                        <ul>
                                            <li>thot.education@gmail.com</li>
                                        </ul>

                                    </div>
                                   
                                </div>
                                <!--/.row-->
                            </div>
                            <p align ="center">&copy; @DateTime.Now.Year - Derechos Reservados Thot</p>
                        </div>

                    </footer>
                </div>
          

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", false)
        </body>
    </html>

    }
}

